.Slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.arrowContainer-left,
.arrowContainer-right {
    background: rgba(255, 255, 255, 0.767);
    color: rgba(0, 0, 0, 0.52);
    cursor: pointer;
    position: absolute;
    top: 30%;
    display: inline-block;
}

.slider_arrow-left,
.slider_arrow-right {
    color: inherit;
    font-size: 30px;

    :hover {
        color: rgb(0, 0, 0);
    }

    @media(max-width: 992px) {
        font-size: 20px;
    }
}

.arrowContainer-left {
    left: 0;
    padding: 0px 15px 0px 0px;
}

.arrowContainer-right {
    right: 0;
    padding: 0px 0px 0px 15px;
}

.Slider_item {
    width: 100%;
    height: 100%;
}

.slide_item {
    margin-right: auto;
    margin-left: auto;
    display: none; // width: 100%;
    // height: 100%;
    list-style-type: none;
    text-align: center;

    img {
        width: 100%;
        height: 100%;
    }

    &--active {
        display: block;
    }
}